.form {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: #16181d;
  width: 500px;
  gap: 2em;
}

.info__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  font-size: 20px;
}

.block__title {
  cursor: default;
}

.info__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  font-size: 20px;
}

.sex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
