.label {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
  font-size: 20px;
  box-sizing: border-box;
}

.input {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border: 2px solid #61dafb;
}
