.form__date__label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
  font-size: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.form__date {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form__date:focus {
  outline: none;
  border: 2px solid #61dafb;
}

.form__date__error {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  color: tomato;
}
